<%- partial('_partial/head') %>
<div class="main height-100 flex flex-v">
  <div class="main-top flex flex1">
    <nuxt-link  to="/home" class="mobile-nav-btn iconfont icon-fenlei"></nuxt-link>
    <a to="/home" class="mobile-logo " > <img src="<%= theme.logo %>" /> </a>
    <!--主页上左部分-->
    <div class="height-100 main-left">
      <div class="main-left-top">
        <a class="logo">
          <img src="<%= theme.logo %>" />
          <div class="sub-title"><%= theme.subTitle %></div>
        </a>
        </aside>
        <%- partial('_partial/nav') %>
      </div>

      <div class="social flex flex-align-center ">
        <% if (theme.social) { %>
          <% _.forEach(theme.social, function(value, key) { %>
            <% if (value) { %>
              <a class="flex1 text-center" href="<%= url_for(value) %>" target="_blank" title="<%= key %>" alt="<%= key %>">
                <div class="icon relative">
                  <i class="iconfont icon-<%= key.toLowerCase() %>"></i>
                </div>
              </a>
            <% } %>
          <% }); %>
        <% } %>
      </div>
    </div>
    <!--主页上右部分-->
    <nuxt />
    <!--<div class="flex1 height-100 main-right flex flex-v">
      <div class="foter">
        <a href="" target="_blank">&copy; @blog.title date</a>
        &lt;!&ndash;<a target="_blank">Design：Oriharaki</a>&ndash;&gt;
        <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        <a>粤ICP备15053557号</a>
      </div>
    </div>-->
  </div>
  <div class="main-bottom">

    <div class="music flex flex-pack-justify flex-align-center">
      <div class="control">
        <a @click="preSong"><span class="iconfont icon-shangyishou"></span></a>
        <a @click="playControl"><span class="iconfont" :class="$store.state.playing?'icon-kaishi':'icon-kaishi1'"></span></a>
        <a @click="nextSong"><span class="iconfont icon-xiayishou-copy"></span></a>
      </div>
      <div class="msg">
        <span class="time">{{currentTimeString}}</span>
        <div class="line" ref="progress-line-warp">
          <div class="song-msg">{{$store.state.musics && $store.state.musics[$store.state.musicPlayIndex] ? $store.state.musics[$store.state.musicPlayIndex].name + '-' + $store.state.musics[$store.state.musicPlayIndex].singer:''}}</div>
          <div class="current-line" ref="progress-line">
            <a tag="a" class="target" v-on:mousedown.prevent="mousedown"></a>
          </div>
        </div>
        <span class="all-time">{{durationString}}</span>
      </div>
      <div class="right-control">
        <a class="order-btn flex flex-align-center" @click="toogleShowMusicList">
          <span class="iconfont icon-ttpodicon"></span>
          <span class="number flex1">{{$store.state.musics.length}}</span>
        </a>
      </div>
      <audio class="mian-audio" ref="main-audio" controls="controls">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="music-list" :class="{'active':isShowMusicList}">
    <vuescroll>
      <a class="music-item flex flex-align-center" :class="{'active':index==$store.state.musicPlayIndex}" v-for="(music,index) in $store.state.musics" v-bind:key="index" @click="playIndex(index)">
        <span class="iconfont" :class="index==$store.state.musicPlayIndex?'icon-kaishi':'icon-kaishi1'"></span>
        <span class="title flex1">{{music.name}}-{{music.singer}}</span>
      </a>
    </vuescroll>
  </div>
</div>
