<nav class="nav">

  <% if (theme.menu) { %>
    <% theme.menu.forEach(function(nav) { %>
      <a title="<%= nav.name %>"  alt="<%= nav.name %>"  v-for="(menu,index) in menus" href="<%= nav.link %>">
        <div class="icon"><i class="iconfont icon-<%= nav.icon %>"></i></div>
        <div class="name">
          <div class="cnname"><%= nav.name %></div>
          <div class="enname"><%= nav.description %></div>
        </div>
      </a>

    <% }); %>
  <% } %>

  <!--<a href="/link/">
    <div class="icon"><i class="iconfont icon-link"></i></div>
    <div class="name">
      <div class="cnname">友情链接</div>
      <div class="enname">Friends Web Link</div>
    </div>
  </a>-->
</nav>
